syntax: glob

# iOS
Library
Temp
obj
.DS_Store
*.csproj
XCodeProject
*.sln
*.userprefs
build/
xcuserdata/
Pods

# js
node_modules
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
build
dist
uploads
